<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>摇钱树财富排行榜-前100名榜单</title>
    <link rel="stylesheet" type="text/css" href="./css/app.css"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="js/adaptive-version3.js"></script>
    <script>
        window['adaptive'].desinWidth = 750;
        window['adaptive'].baseFont = 14;
        window['adaptive'].maxWidth = 750;
        window['adaptive'].init();
    </script>


</head>
<body>
<div class="am-container">
    <div class="am-head">
        <img src="img/head.png">
    </div>

    <div class="am-body">
        <ul class="list" id="list">
            努力加载....
            <!--<li class="no1">-->
                    <!--<span class="ranking"><i class="icon1">-->
                        <!--<img src="img/icon1.png" alt="">-->
                    <!--</i></span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->

            <!--<li class="no2">-->
                    <!--<span class="ranking"><i class="icon2">-->
                        <!--<img src="img/icon2.png" alt="">-->
                    <!--</i></span>-->

                    <!--<span class="username">-->
                        <!--会员名0002-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->


            <!--<li class="no3">-->
                <!--<span class="ranking"><i class="icon3"><img src="img/icon3.png" alt=""></i></span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->
            <!--<li class="no4">-->
                    <!--<span class="ranking">-->
                        <!--<i class="icon4">-->
                            <!--<img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">-->
                            <!--<b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">4</b>-->
                        <!--</i>-->
                    <!--</span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->

            <!--<li class="">-->
                      <!--<span class="ranking">-->
                        <!--<i class="icon4">-->
                            <!--<img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">-->
                            <!--<b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">4</b>-->
                        <!--</i>-->
                    <!--</span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->


            <!--<li class="">-->
                       <!--<span class="ranking">-->
                        <!--<i class="icon4">-->
                            <!--<img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">-->
                            <!--<b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">5</b>-->
                        <!--</i>-->
                    <!--</span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->
            <!--<li class="">-->
                       <!--<span class="ranking">-->
                        <!--<i class="icon4">-->
                            <!--<img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">-->
                            <!--<b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">4</b>-->
                        <!--</i>-->
                    <!--</span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->

            <!--<li class="">-->
                       <!--<span class="ranking">-->
                        <!--<i class="icon4">-->
                            <!--<img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">-->
                            <!--<b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">4</b>-->
                        <!--</i>-->
                    <!--</span>-->

                    <!--<span class="username">-->
                        <!--会员名0001-->
                    <!--</span>-->
                    <!--<span class="money">-->
                        <!--123456789-->
                    <!--</span>-->
                    <!--<span class="integral">-->
                        <!--123456789-->
                    <!--</span>-->
            <!--</li>-->



        </ul>


    </div>


    <div class="am-foot">
        <img src="img/footbg.png" alt="">
    </div>


</div>

<script id="rankList" type="text/html">

    {{each rankList as value i}}
    {{if i<=2}}
    <li class="no{{i+1}}">
                    <span class="ranking"><i class="icon{{i+1}}">
                        <img src="img/icon{{i+1}}.png" alt="">
                    </i></span>

                     <span class="username">
                            {{value.username}}
                        </span>
                <span class="integral">
                         {{value.integral}}
                        </span>
                        <span class="money">
                           {{value.money}}
                        </span>

    </li>

    {{else if i<10}}
    <li class="{{i}}">
            <span class="ranking">
                            <i class="icon{{i + 1}}">
                                <img src="img/icon.png" alt="" style="position: absolute;left: 40%;z-index: 1">
                                <b style="position: absolute;left: 70%;z-index: 3;line-height: 0.6rem">{{i + 1}} </b>
                            </i>
            </span>

                        <span class="username">
                            {{value.username}}
                        </span>
        <span class="integral">
                         {{value.integral}}
                        </span>
                        <span class="money">
                           {{value.money}}
                        </span>

    </li>


    {{else}}
    <li class="{{i}}">
            <span class="ranking">
                            <i class="icon{{i + 1}}">
                    <b style="position: absolute;left: 70%;z-index: 3;line-height: 0.8rem;font-weight: bold">{{value.ranking}} </b>
                            </i>
            </span>

                        <span class="username">
                            {{value.username}}
                        </span>
         <span class="integral">
 {{if value.integral}}
            {{value.integral}}
             {{else}}
                &nbsp;
             {{/if}}
             </span>
                        <span class="money">

                            {{value.money}}


                        </span>

    </li>
    {{/if}}




    {{/each}}



</script>



<!--libs-->
<script src="js/artTemplate.js"></script>
<script src="js/app.js"></script>
<!--libs/-->

</body>
</html>